:root {
  --background-body:#FFEAE0;
  --color-text:#2C2420;
  --gradient:linear-gradient(0deg, var(--nuvem) 0%, var(--background-body));

  --sombra:rgba(44, 36, 32, .6);
  --nevoa:rgba(44, 36, 32, .6);
  --nuvem:rgba(44, 36, 32, .05);
}

$lora:'Lora', serif;
$dancing:'Dancing Script', cursive;
$poppins:'poppins', sans-serif;

$fine-orange:#D36836;
$like-wine:#791625;

$white:#FFEAE0;
$black:#2C2420;

$nuvem:-3px 3px 9px 0px var(--nuvem);
$nuvem-right:0px 3px 9px 0px var(--nuvem);
