@import 'config';
@import 'keyframes';

.enjoy {

  h1 {
    &:first-child {
      width:30rem;
    }

    &:last-child {
      margin-top:.5rem;
    }
  }

  div {
    margin-top:-1.5rem;
  }

  article {
    animation:reveal-bottom .8s linear forwards;
    margin-top:-3.2rem;
  }

  p {
    width:22.5rem;
  }

  .enjoy-sushi {
    animation:reveal-right .8s linear forwards;
    width:800px;
    margin-top:1.6rem;
  }
}
