@media (max-width:82.5rem) {
  body {
    .popular, .subscribe {
      h1 {
        font-size:2rem;
      }
    }

    .subscribe {
      margin-bottom:10rem;
    }

    footer {
      width:60rem !important;
      gap:5rem;
      margin-bottom:1rem;
      
      .bismarck img {
        width:1.6rem;
      }

      .social {
        gap:.5rem;
        
        img {
          width:1.3rem;
        }
      }

      section {
        h2 {
          font-size:1rem;
        }

        li, p {
          font-size:.8rem;
        }

        p {
          width:12rem;
        }
      }

      .copy p {
        font-size:.8rem;
      }
    }

    .subscribe {
      width:53rem !important;
      border-radius:9rem;
      height:15rem;
      margin-top:4rem;

      img {
        width:19rem;
      }

      h1 {
        width:16rem;
        font-size:1.8rem !important;
      }

      div {
        width:19rem;
      }

      button img {
        width:2.1rem !important;
      }
    }

    .popular {
      gap:2rem;
      min-height:max-content !important;
      
      h1 {
        margin-top:.75rem;
      }

      article {
        width:53rem;

        div {
          width:15rem;
        }
  
        img {
          width:13rem;
        }
      }
  
      h2 {
        font-size:1.4rem;
      }
  
      p {
        font-size:.9rem;
      }
  
      li {
        font-size:1.2rem;
  
        &:after {
          margin-left:3rem;
        }
      }
    }

    .enjoy article {
      margin-top:-3.5rem;
    }

    main {
      margin-top:0 !important;
      gap:0;
    }

    .provide {
      margin-top:-1rem;

      .enjoy-sushi {
        margin-left:0;
      }
    }

    .recently {
      margin-top:6rem;

      h1 {
        width:23rem;
      }

      .order:after {
        margin-top:1.5px !important;
      }
    }

    .popular {
      margin-top:3rem;
    }

    .provide {
      align-items:top;
      height:100vh;
    }

    .provide, .recently {
      margin-top:-4rem !important;
    }
  
    .enjoy, .provide, .recently {
      display: grid;
      height:650px !important;
      place-items: center;
    
      article {
        margin-top: 0;
      }
    
      .enjoy-sushi {
        grid-area: 1/2;
        justify-self: center;
        margin-top:2rem;
        width:580px !important;
      }

      span {
        font-size:1.5rem;
      }

      h1 {
        font-size:3rem;
  
        &:first-child {
          width:23rem;
        }
      }
  
      p {
        font-size: 1rem;
        width: 21rem;
      }

      article {
  
        img {
          width:3.1rem;
          margin-top:.5rem;
        }
      }
  
      div {
        width:20rem;
      }
    }

    .popular {

      div:hover img {
        transform:none !important;
      }
    }

    .order {
      font-size:1rem;
      width:11.75rem;
      padding:.35rem 0 .35rem 2.3rem;

      &:after {
        font-size:1.5rem;
        margin-top:.1rem;
      }
    }
  }
}

@media (max-width:62rem) {
  body {

    footer {
      width:90vw !important;

      section {
        flex-wrap:wrap;
        gap:2rem; 
      }

      .copy {
        gap:1rem;
        display:grid;
        grid-template-columns:1fr;
        place-items:center;
      }
    }

    .popular {
      align-items:center !important;
      
      article {
        width:100%;
        justify-content:center;
        gap:1.5rem;
        flex-wrap:wrap;
      }

      h1, span {
        width:max-content;
      }

      article {
        margin:auto;
      }
    }

    .subscribe {
      border-radius:100rem;
      width:27rem !important;
      padding:1rem 0 1.5rem 0;
      display:grid;
      place-items:center;
      grid-template-columns:1fr;
      height:27rem !important;

      article {
        place-items:center;
        margin-top:-3rem;

        h1 {
          width:13rem;
          text-align:center;
        }
      }

      gap:0rem;

      img {
        margin-top:0 !important;
        width:11rem !important;
      }

      button img {
        width:2.1rem !important;
      }

      div {
        width:15.5rem;
      }

      input {
        width:12.5rem;
        font-size:.8rem;
      }
    }

    .enjoy, .provide, .recently {
      padding:0 .5rem;

      .enjoy-sushi {
        width:100% !important;
      }
    } 
  }
}

@media (max-width:56rem) {
  body {
    .recently {
      margin-top:2.5rem;
    }
  }
}

@media (max-width:50rem) {
  body {
    .popular {
      min-height:1100px !important;

      article {
        margin-top:-.2rem !important;
        display:grid;
        grid-template-columns:1fr;
        place-items:center;
        gap:2rem;
      }
    }

    .order {
      margin:.5rem auto;
      padding:.3rem 0 .3rem 2.3rem;
      border-radius:1.5rem;    

      &:after {
        font-size:1.5rem;
        margin-top:1.5px;
      }
    }

    main {
      gap:5rem;
    }

    .enjoy, .recently {
      height:max-content !important;
    }

    .recently {
      padding:5rem 0 0 0;
      margin-top:0 !important;
    }

    .provide {
      margin-top:0rem !important;
      margin-bottom:0 !important;
      height:500px !important;
    }

    .enjoy, .provide, .recently {
      gap:2rem;

      .enjoy-sushi {
        width: 280px !important;;
      }

      h1 {
        font-size:2rem;

        &:first-child {
          width:15.5rem;
        }
      }

      p {
        font-size:1rem;
        width:19rem;
        text-align:center;
      }
    }

    .enjoy {
      place-items:left;
      display:grid;
      margin-top:4rem !important;

      article {
        gap:.75rem;
      }

      div {
        width:13.5rem;
        margin-top:-1rem;

        img {
          width:2.2rem;
        }
      }
    }

    .provide  {
      gap:0;
      .enjoy-sushi {
        display:none;
      }

      article {
        gap:1rem;
      }

      div {
        h1 {
          margin-bottom:.25rem;
        }

        width:14rem;

        img {
          width:2.2rem;
        }
      }
    }

    .recently {

      h1, p {
        margin-top:-.75rem;
      }

      h1 {
        width:15.5rem;
        text-align:center;
      }

      .order:after {
        position:relative;
        top:1px !important;
      }
    }
  }

  .enjoy-sushi {
    grid-area:1/1 !important;
    width:290px !important;
    margin-top:0rem !important; 
  }

  .enjoy, .provide, .recently {
    padding:0;
    grid-template-columns:1fr;

    article {
      gap:.75rem;
      place-items:center;

      img {
        width:2.1rem;
        margin-top:.5rem;
      }
    }

    div {
      margin-left:-2rem;
      width:13.5rem;
    }
  }
}

@media (max-width:30rem) {
  body {
    .subscribe {
      width:18.4rem !important;
      height:18.4rem !important;
      border-radius:50rem;

      article {
        margin-top:0;
      }

      img {
        display:none;
      }

      button img {
        display:block !important;
      }
    }
  }
}

@media (max-width:22rem) {
  body {
    .enjoy, .provide, .recently {
      p {
        width:95vw;
      }
    }
  }
}
