@import 'config';

.enjoy {
  h1 {
    &:first-child {
      width:30rem;
    }

    &:last-child {
      margin-top:.5rem;
    }
  }

  div {
    margin-top:-1.5rem;
  }

  article {
    margin-top:-3rem;
  }

  p {
    width:22.5rem;
  }

  .enjoy-sushi {
    width:800px;
    margin-top:1.3rem;
  }
}
