@import 'config';

header {
  justify-content:space-between;
  align-items:center;
  padding:1rem 1rem 1rem 0;

  &, div, nav, ul {
    display:flex;
    align-items:center;
  }

  div, li, nav img {
    cursor:pointer;
  }

  img:first-child {
    width:1.8rem;
  }

  div {
    gap:.25rem;
  }

  nav {
    gap:1.7rem;
  }

  ul {
    gap:1.1rem;
  }

  li {
    font-weight:300;
    padding:.15rem .45rem;
    letter-spacing:.1rem;
    transition:.5s;
    font-size:1rem;

    &:hover, &.active {
      color:$fine-orange;
      transition:.5s;
    }
  }

  h1 {
    font-size:1.4rem;
  }

  .toggle-menu {
    display:none;
  }

  .toggle-background {
    width:1.2rem;
    opacity:.8;
    margin-top:-.15rem;
    transition:.2s;
  }
}
