@keyframes padding-initial-header {
  from {
    padding:.5rem 1rem .5rem 0;
  }

  to {
    padding:1rem 1rem 1rem 0;
  }
}

@keyframes padding-rest-header {
  from {
    padding:1rem 1rem 1rem 0;
  }

  to {
    padding:.5rem 1rem .5rem 0;
  }
}

@keyframes opacity-one {
  from {
    opacity:0;
    bottom:1rem;
  }

  to {
    bottom:1.7rem;
    opacity:.6;
  }
}

@keyframes opacity-zero {
  from {
    opacity:.6;
  }

  to {
    opacity:0;
  }
}

@keyframes show-menu {
  from {
    opacity:0;
    transform:translateY(-2rem);
  }

  to {
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes hide-menu {
  from {
    opacity:1;
    transform:translateY(0);
  }

  to {
    opacity:0;
    transform:translateY(-2rem);
  }
}

//scroll reveal
@keyframes reveal-right {
  from {
    opacity:0;
    transform:translateX(2rem);
  }

  to {
    opacity:1;
    transform:translateX(0rem);
  }
}

@keyframes reveal-top {
  from {
    opacity:0;
    transform:translateY(-2rem);
  }

  to {
    opacity:1;
    transform:translateY(0rem);
  }
}

@keyframes reveal-bottom {
  from {
    opacity:0;
    transform:translateY(2rem);
  }

  to {
    opacity:1;
    transform:translateY(0rem);
  }
}

@keyframes reveal-left {
  from {
    opacity:0;
    transform:translateX(-2rem);
  }

  to {
    opacity:1;
    transform:translateX(0rem);
  }
}

@keyframes reveal-container {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}
