@import 'config';
@import 'keyframes';

.provide {
  article, .enjoy-sushi {
    opacity:0;
  }

  &.active {
    opacity:1;

    .enjoy-sushi {
      animation:reveal-left .8s linear forwards;
    }

    article {
      animation:reveal-right .8s linear forwards;
    }
  }

  div {
    h1 {
      margin-top:0;
    }
  }

  h1 {
    margin-top:-1.5rem;
  }

  p {
    width:29rem;
  }

  img:first-child {
    margin-left:-2.8rem;
  }
}

.recently {
  margin-top:1rem;
  opacity:0;

  &.active {
    opacity:1;

    .enjoy-sushi {
      animation:reveal-left .8s linear forwards;
    }

    article {
      animation:reveal-right .8s linear forwards;
    }
  }

  h1:after {
    content:'';
    position:absolute;
    background:url('../assets/svg/7-samurai.svg') no-repeat;
    width:3.7rem;
    height:4.3rem;
    margin-top:3.5rem;
    transform:rotate(-5deg);
  }

  span {
    margin-bottom:-.7rem !important;
  }

  article {
    margin-top:-5rem;
  }

  p {
    margin-top:-.3rem;
    width:27rem;
  }

  button {
    margin-top:.7rem !important;

    &:after {
      margin-top:.25rem !important;
    }
  }
}
