@import 'config';

.subscribe {
  background:$black;
  justify-content:center;
  align-items:center;
  gap:2rem;
  border-radius:9rem;
  margin:9rem 0 9rem 0;

  &, div {
    display:flex;
  }

  article {
    gap:1rem;
    place-items:left;
    display:grid;
  }

  div {
    justify-content:center;
    align-items:center;
    background:$white;
    height:3.5rem;
    margin-top:-.5rem;
    border-radius:2rem 0 3rem 2rem;
  }

  h1 {
    color:$white;
    width:21rem;
  }

  input {
    background:$white;
    font-size:1.1rem;
    letter-spacing:.065rem;
    font-weight:400;
    height:3.5rem;
    color:$black;
    padding:0 1.5rem;
    border-radius:2rem 0 0 2rem;
    width:20rem;

    &:focus {
      outline:none;
    }

    &:checked {
      border-bottom:.1rem solid green;
    }
  }

  button {
    border-radius:2rem 0rem 2rem 0rem;
    background:$like-wine;
    height:3.5rem;
    width:4rem;
    place-items:center;
    display:grid;

    &:hover img {
      transition:.5s;
      margin-top:-.3rem;
      margin-left:.5rem;
    }

    img {
      transition:.3s;
      width:2.6rem;
    }
  }
}
