@import 'config';
@import 'keyframes';

.subscribe {
  background:$black;
  justify-content:center;
  align-items:center;
  gap:2rem;
  border-radius:9rem;
  margin:8rem 0 14rem 0;
  height:18rem;
  opacity:0;

  &.active {
    animation:reveal-container .8s linear forwards;
  }

  &, div {
    display:flex;
  }

  .offer {
    margin-top:4rem;
  }

  article {
    gap:1rem;
    place-items:left;
    display:grid;
  }

  div {
    justify-content:center;
    align-items:center;
    background:$white;
    height:3rem;
    margin-top:-.5rem;
    border-radius:1.5rem .8rem 2rem 2rem;
  }

  h1 {
    color:$white;
    width:21rem;
  }

  input {
    background:none;
    font-size:1rem;
    letter-spacing:.065rem;
    font-weight:400;
    height:100%;
    color:$black;
    padding:0 1.5rem;
    border-radius:2rem 0 0 2rem;
    width:19rem;

    &:disabled {
      opacity:.7;
      user-select:none;
    }

    &:focus {
      outline:none;
    }

    &:checked {
      border-bottom:.1rem solid green;
    }
  }

  button {
    border-radius:1.7rem .5rem 1.5rem 0rem;
    background:$like-orange;
    height:100%;
    width:3.3rem;
    place-items:center;
    display:grid;

    &:disabled {
      opacity:.7;
      cursor:auto;
    }

    &:disabled:hover img {
      margin-top:0;
      margin-left:0;
    }

    &:hover img {
      transition:.3s;
      margin-top:-.1rem;
      margin-left:.1rem;
    }

    img {
      transition:.2s;
      width:2.1rem;
    }

    &:focus {
      outline:none;
    }
  }
}
