@import 'config';

* {
  border:0;
  margin:0;
  box-sizing:border-box;
  border-spacing:0;
  padding:0;
  color:var(--color-text);
}

body {
  background:var(--background-body);
  overflow-x:hidden;
  overflow-y:auto;
  display:grid;
  place-items:center;
  // scrollbar-width:thin;
  // scrollbar-color:#7c6a6a;

  // &::-webkit-scrollbar {
  //   width:.43rem;
  // }

  // &::-webkit-scrollbar-track {

  // }

  // &::-webkit-scrollbar-thumb {

  // }

  header, section {
    width:80rem;
  }

  h1, h2 {
    font-family:$lora;
    letter-spacing:.0625rem;
    
    &.logo {
      font-weight:lighter;
    }
  }

  li {
    list-style:none;
  }

  button {
    cursor:pointer;
  }

  .order {
    background:$like-wine;
    color:$white;
    font-size:1.1rem;
    font-weight:400;
    display:flex;
    justify-content:left;
    align-items:center;
    padding:.3rem 0 .3rem 2.3rem;
    width:12.7rem;
    letter-spacing:.1rem;
    justify-self:left;
    margin-top:.25rem;
    border-radius:2rem;

    &:after {
      content:'>';
      display:block;
      color:$white;
      font-size:1.7rem;
      margin-top:.27rem;
      margin-left:.25rem;
      font-weight:300;
      transition:.5s;
    }

    &:hover:after {
      transition:.5s;
      margin-left:.5rem;
    }
  }
}

@import 'header';
@import 'enjoy';
