@import 'config';
@import 'keyframes';

* {
  border:0;
  margin:0;
  box-sizing:border-box;
  border-spacing:0;
  padding:0;
  color:var(--color-text);
}

body {
  background:var(--background-body);
  overflow-x:hidden;
  overflow-y:auto;
  scrollbar-width:thin;
  scrollbar-color:#7c6a6a;

  &::-webkit-scrollbar {
    width:.43rem;
  }

  &::-webkit-scrollbar-track {
    background:#F2E8CF;
    border-radius:0 0 .1rem .1rem;
  }

  &::-webkit-scrollbar-thumb {
    background:$like-wine;
    background:$like-wine;
    border-radius:0 0 .1rem .1rem;
    border:.375rem solid $like-wine;
  }

  &, main {
    display:grid;
    place-items:center;
  }

  &, header, main {
    transition:background .4s;
  }

  .to-top {
    position:fixed;
    right:1.4rem;
    bottom:1.7rem;
    background:var(--gradient);
    width:2.5rem;
    height:2.5rem;
    transform:rotate(-90deg);
    border-radius:100%;
    opacity:.6;
    display:none;
    animation:opacity-zero .3s linear forwards;

    &:after {
      content:'>';
      color:var(--color-text);
      font-weight:200;
      font-size:1.9rem;
    }

    &.active {
      display:block;
      animation:opacity-one .3s linear forwards;
    }
  }

  .branch {
    position:absolute;

    &.right {
      width:8rem;
      z-index:-1;
      margin-left:70.5rem;
      margin-top:25rem;
    }

    &.sub {
      width:10rem;
      margin-top:-2.5rem;
      margin-left:58.4rem;
    }

    &.footer-samurai {
      margin-top:12rem;
      margin-left:1rem;
      width:2.5rem;
      opacity:.7;
      transform:rotate(25deg);
    }

    &.footer-right {
      margin-left:33rem;
      margin-top:13rem;
      width:7rem;
      transform:rotate(-15deg);
    }

    &.footer {
      opacity:.7;
      margin-top:9rem;
      margin-left:63rem;
      width:3.3rem;
    }
  }
}

@import 'header';
@import 'global';

@import 'enjoy';
@import 'provide-added';
@import 'popular';
@import 'subscribe';

@import 'footer';
@import 'global-queries';
@import 'enjoys-queries';
